body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.625rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.6rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.15rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #22a5e5 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #22a5e5 !important;
  border-color: #22a5e5 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #13709e !important;
  border-color: #13709e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #13709e !important;
  border-color: #13709e !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #22a5e5;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #13709e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #22a5e5 !important;
  border-color: #22a5e5 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #22a5e5 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #116690 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #22a5e5;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d9effa;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sUd265M8Ft {
  background-image: url("../../../assets/images/background19.jpg");
}
.cid-sUd265M8Ft .mbr-section-subtitle {
  color: #fff;
  text-transform: uppercase;
}
.cid-sUd265M8Ft .mbr-section-title {
  color: #fff;
  margin-bottom: 40px;
}
.cid-sUd265M8Ft .counter {
  color: #fff;
  display: inline-flex;
  background-color: #6592e6;
  margin-top: 40px;
  margin-bottom: 0px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
  text-align: left;
  text-size-adjust: 100%;
  text-transform: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px -2px 0px 0px inset;
  width: 100%;
}
.cid-sUd265M8Ft .number {
  padding-right: 20px;
  margin-bottom: 0px;
  font-size: 2.75rem;
  line-height: 50px;
}
.cid-sUd265M8Ft .description {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
}
.cid-sUd265M8Ft .link {
  display: inline-block;
}
.cid-sUd265M8Ft .resume-link {
  display: inline-block;
  margin-top: 40px;
  color: #fff;
}
.cid-sUd265M8Ft a::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  margin-top: -3px;
  background-color: currentColor;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  vertical-align: middle;
  margin-right: 7px;
  transition-delay: 0s;
  transition-duration: 0.3s;
}
.cid-sUd265M8Ft .link:hover a::before {
  width: 30px;
}
.cid-sUd265M8Ft .row {
  align-items: center;
}
@media (max-width: 576px) {
  .cid-sUd265M8Ft .counter {
    margin-top: 20px;
  }
  .cid-sUd265M8Ft .resume-link {
    margin-top: 20px;
  }
}
.cid-sUd265M8Ft img {
  border-radius: 10px;
}
.cid-sUd265M8Ft .mbr-text,
.cid-sUd265M8Ft .align {
  text-align: left;
}
.cid-sUB04RL6hT {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sUB04RL6hT .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-sUB04RL6hT .card-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
}
.cid-sUB04RL6hT .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sUB04RL6hT .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-sUB04RL6hT .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-sUB04RL6hT .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-sUB04RL6hT .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sUB04RL6hT .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-sUB04RL6hT .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sUB04RL6hT .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-sUBbqNMWR0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #fafafa;
}
.cid-sUBbqNMWR0 .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sUBbqNMWR0 .team-card:hover {
  transform: translateY(-10px);
}
.cid-sUBbqNMWR0 .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-sUBbqNMWR0 .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-sUBbqNMWR0 .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-sUBbqNMWR0 .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sUBbqNMWR0 .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-sUBbqNMWR0 .social-row {
  text-align: center;
}
.cid-sUBbqNMWR0 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-sUBbqNMWR0 .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-sUBbqNMWR0 .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-sUBbqNMWR0 .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-sUBbqNMWR0 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-sUBbqNMWR0 .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-sUBbqNMWR0 .embla__button--next,
.cid-sUBbqNMWR0 .embla__button--prev {
  display: flex;
}
.cid-sUBbqNMWR0 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-sUBbqNMWR0 .embla__button {
    display: none;
  }
}
.cid-sUBbqNMWR0 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-sUBbqNMWR0 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-sUBbqNMWR0 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sUBbqNMWR0 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sUBbqNMWR0 .embla__button {
    top: auto;
  }
}
.cid-sUBbqNMWR0 .embla {
  position: relative;
  width: 100%;
}
.cid-sUBbqNMWR0 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-sUBbqNMWR0 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-sUBbqNMWR0 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-sUBbqNMWR0 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-sUB3qoZktL {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sUB3qoZktL .media-container-row {
  justify-content: space-between;
}
.cid-sUB3qoZktL .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-sUB3qoZktL .text-content {
    max-width: none;
  }
}
.cid-sUB3qoZktL .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #6592e6;
  border: 2px solid #6592e6;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-sUB3qoZktL .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-sUB3qoZktL .mbr-iconfont-social:hover {
  background-color: #6592e6;
  color: #ffffff;
}
@media (max-width: 768px) {
  .cid-sUB3qoZktL .icons {
    justify-content: center !important;
  }
  .cid-sUB3qoZktL .text-content * {
    text-align: center;
  }
}
.cid-sUGkjED1JN {
  background-image: url("../../../assets/images/background15.jpg");
}
.cid-sUGkjED1JN .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .7rem;
}
.cid-sUGkjED1JN .social-row .soc-item .mbr-iconfont {
  font-size: 32px;
  border-radius: 50%;
  padding: 0.6rem;
  border: 2px solid #232323;
  transition: all 0.3s;
  color: #232323;
}
.cid-sUGkjED1JN .social-row .soc-item .mbr-iconfont:hover {
  background-color: #232323;
  color: #ffffff;
}
.cid-sUGLyHALIw {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-sUGLyHALIw .google-map {
  height: 30rem;
  position: relative;
}
.cid-sUGLyHALIw .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sUGLyHALIw .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sUGLyHALIw .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sUGLyHALIw .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sFADMOwrhN {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sFADMOwrhN .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-sFADMOwrhN .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sFADMOwrhN .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-sFADMOwrhN .card-wrapper {
  border-radius: 4px;
  background-color: #edf5e1;
}
.cid-sFADMOwrhN .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sFADMOwrhN .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-sFADMOwrhN .mbr-text {
  color: #05386b;
}
.cid-sFADMOwrhN .card-title {
  color: #05386b;
}
.cid-sFADMOwrhN .price {
  color: #05386b;
}
.cid-sUGlW9ewKu {
  background-color: #4479d9;
}
.cid-sUGLCmrCvS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sUGLCmrCvS .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-sUGLCmrCvS .card-wrapper {
  padding: 3rem;
  background: #fafafa;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .cid-sUGLCmrCvS .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sUGLCmrCvS .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-sUI6aOeDTg {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sUI6aOeDTg .text-wrapper {
  padding: 2rem;
  max-width: 650px;
}
@media (max-width: 991px) {
  .cid-sUI6aOeDTg .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sUI6aOeDTg img {
  width: 130%;
}
@media (max-width: 1400px) {
  .cid-sUI6aOeDTg img {
    width: 150%;
  }
}
@media (max-width: 992px) {
  .cid-sUI6aOeDTg img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .cid-sUI6aOeDTg .text-wrapper {
    padding: 2rem;
  }
}
.cid-sUI6aOeDTg .mbr-section-subtitle {
  color: #fa4529;
}
.cid-sUI6aOeDTg .mbr-text {
  color: #666666;
}
.cid-sUI8qaEmxx {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sUI8qaEmxx .mbr-text {
  color: #666666;
}
.cid-sUI6G6A9fh {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #6592e6;
}
.cid-sUI6G6A9fh .svg-top {
  width: 100%;
  position: absolute;
  left: 0;
  top: -48px;
  height: 50px;
  transform-origin: bottom;
  animation: 1.5s ease-in-out infinite alternate svg-wave;
  fill: #6592e6;
}
.cid-sUI6G6A9fh .svg-top .st0 {
  fill: #6592e6;
}
@media (max-width: 992px) {
  .cid-sUI6G6A9fh .svg-top {
    width: 1000px;
  }
}
@keyframes svg-wave {
  from {
    transform: scaleX(1) scaleY(1.1);
  }
  to {
    transform: scaleX(1) scaleY(1.6);
  }
}
.cid-sUI6G6A9fh .mbr-section-title {
  color: #1a449a;
}
@media (min-width: 1400px) {
  .cid-sUI6G6A9fh .col-12 {
    padding: 0 2rem;
  }
  .cid-sUI6G6A9fh .row {
    margin: 0 -2rem;
  }
}
.cid-sUI6G6A9fh .mbr-text,
.cid-sUI6G6A9fh .mbr-section-btn {
  color: #353535;
}
.cid-sUI8POA0lu {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sUI8POA0lu .wrapper {
  border-radius: 30px;
}
@media (max-width: 991px) {
  .cid-sUI8POA0lu .wrapper {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .cid-sUI8POA0lu .wrapper {
    padding: 4rem 6rem;
  }
}
.cid-sUI8POA0lu .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
@media (max-width: 991px) {
  .cid-sUI8POA0lu .social-row .soc-item {
    margin-right: .7rem;
  }
}
.cid-sUI8POA0lu .social-row .soc-item .mbr-iconfont {
  font-size: 32px;
  border-radius: 50%;
  padding: 0.6rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
  color: #6592e6;
}
.cid-sUI8POA0lu .social-row .soc-item .mbr-iconfont:hover {
  background-color: #6592e6;
  color: #ffffff;
}
.cid-sUI8POA0lu .border {
  padding: 2.5rem 2rem;
  border-radius: 30px;
}
@media (max-width: 991px) {
  .cid-sUI8POA0lu .border {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sUI8POA0lu .wrapp {
    padding: 1rem;
  }
}
.cid-sUI8POA0lu .mbr-text,
.cid-sUI8POA0lu .mbr-section-btn {
  color: #666666;
}
.cid-sUI8scO2Dg {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sUI8scO2Dg .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-sUI8scO2Dg .mbr-text {
  color: #666666;
}
.cid-sUIfFCWS6M {
  background-color: #eae8e4;
}
.cid-sUIfFCWS6M .description_box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  color: #e6ca69;
  cursor: default;
  text-align: left;
}
.cid-sUIfFCWS6M .mbr-section-subtitle {
  margin-bottom: .75rem;
  line-height: 1;
}
.cid-sUIfFCWS6M .mbr-section-title {
  margin-bottom: 2rem;
}
.cid-sUIfFCWS6M .mbr-text {
  margin-bottom: 2rem;
}
.cid-sUIfFCWS6M .image-wrapper,
.cid-sUIfFCWS6M img {
  width: 100%;
}
.cid-sUIfFCWS6M .image-wrapper,
.cid-sUIfFCWS6M .content_box {
  position: relative;
}
.cid-sUIfFCWS6M .content_box {
  z-index: 5;
}
@media (max-width: 767px) {
  .cid-sUIfFCWS6M .row {
    flex-direction: column-reverse;
  }
  .cid-sUIfFCWS6M .content_box,
  .cid-sUIfFCWS6M .mbr-text {
    padding: 0;
  }
  .cid-sUIfFCWS6M .mbr-section-title {
    margin-bottom: 1rem;
  }
  .cid-sUIfFCWS6M .mbr-text {
    margin-bottom: 1.25rem;
  }
  .cid-sUIfFCWS6M .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-sUIfFCWS6M .description_box {
    top: auto;
    bottom: 5%;
    left: 50%;
    width: 100%;
    padding: 0 .75rem;
    text-align: center;
    transform: translate(-50%, -5%);
  }
}
.cid-sUIfR49bxh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #eae8e4;
}
.cid-sUIfR49bxh .row {
  align-items: center;
  flex-direction: row-reverse;
}
.cid-sUIfR49bxh .mbr-section-title {
  margin-bottom: 2rem;
}
.cid-sUIfR49bxh .mbr-text {
  margin-bottom: 2rem;
}
.cid-sUIfR49bxh .image-wrapper,
.cid-sUIfR49bxh img {
  width: 100%;
}
.cid-sUIfR49bxh .image-wrapper {
  overflow: hidden;
}
.cid-sUIfR49bxh .image-wrapper img {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.cid-sUIfR49bxh .image-wrapper img:hover {
  transform: scale(1.1);
}
@media (min-width: 992px) {
  .cid-sUIfR49bxh .content_box {
    padding-right: 5rem;
    padding-left: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sUIfR49bxh .row {
    flex-direction: column-reverse;
  }
  .cid-sUIfR49bxh .content_box,
  .cid-sUIfR49bxh .mbr-text {
    padding: 0;
  }
  .cid-sUIfR49bxh .mbr-section-title {
    margin-bottom: 1rem;
  }
  .cid-sUIfR49bxh .mbr-text {
    margin-bottom: 1.25rem;
  }
  .cid-sUIfR49bxh .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sUIfR49bxh .flash:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
.cid-sUIfTHjRxm {
  background-color: #eae8e4;
}
.cid-sUIfTHjRxm .description_box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  color: #e6ca69;
  cursor: default;
  text-align: left;
}
.cid-sUIfTHjRxm .mbr-section-subtitle {
  margin-bottom: .75rem;
  line-height: 1;
}
.cid-sUIfTHjRxm .mbr-section-title {
  margin-bottom: 2rem;
}
.cid-sUIfTHjRxm .mbr-text {
  margin-bottom: 2rem;
}
.cid-sUIfTHjRxm .image-wrapper,
.cid-sUIfTHjRxm img {
  width: 100%;
}
.cid-sUIfTHjRxm .image-wrapper,
.cid-sUIfTHjRxm .content_box {
  position: relative;
}
.cid-sUIfTHjRxm .content_box {
  z-index: 5;
}
@media (max-width: 767px) {
  .cid-sUIfTHjRxm .row {
    flex-direction: column-reverse;
  }
  .cid-sUIfTHjRxm .content_box,
  .cid-sUIfTHjRxm .mbr-text {
    padding: 0;
  }
  .cid-sUIfTHjRxm .mbr-section-title {
    margin-bottom: 1rem;
  }
  .cid-sUIfTHjRxm .mbr-text {
    margin-bottom: 1.25rem;
  }
  .cid-sUIfTHjRxm .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-sUIfTHjRxm .description_box {
    top: auto;
    bottom: 5%;
    left: 50%;
    width: 100%;
    padding: 0 .75rem;
    text-align: center;
    transform: translate(-50%, -5%);
  }
}
.cid-sUIfSlFJk3 {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #f9f9f9;
}
.cid-sUIfSlFJk3 .mbr-section-title {
  text-align: center;
  color: #121212;
}
.cid-sUIfSlFJk3 .mbr-text2 {
  text-decoration: underline;
  text-align: center;
}
.cid-sUIfSlFJk3 .row-bg {
  align-items: center;
  background: #6592e6;
  padding: 8rem 3rem;
  border-radius: 2rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-sUIfSlFJk3 .row-bg {
    padding: 1rem 0;
    padding-top: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sUIfSlFJk3 .image-wrapper {
    padding: 1rem;
  }
}
.cid-sUIfSlFJk3 .mbr-text,
.cid-sUIfSlFJk3 .mbr-section-btn {
  text-align: center;
  color: #121212;
}
.cid-sUIfSlFJk3 .mbr-text3 {
  text-align: center;
  color: #121212;
}
